@import "tailwindcss";

@layer base {
  * {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  body {
    height: 100vh;
    color: rgb(255, 255, 255);
    /* /* background: linear-gradient(135deg, #000000 0%, #000000 25%, #000000 50%, #000000 75%, #000000 100%); */
    position: relative;
    background: radial-gradient(circle, rgba(31, 27, 27, 1) 0%, rgba(168, 168, 168, 1) 7%, rgba(168, 111, 130, 1) 12%, rgba(163, 157, 158, 0.98) 18%, rgba(184, 95, 95, 1) 36%, rgba(156, 120, 93, 1) 50%, rgba(174, 147, 191, 1) 79%, rgba(0, 0, 0, 1) 95%);
    overflow-x: hidden;
  }

  ::selection {
    background-color: rgba(101, 99, 106, 0.3);
    color: rgb(211, 205, 205);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}