@import "tailwindcss";

*{
  font-family:'Times New Roman', Times, serif;
}

body{
  height: 100vh;
  overflow: hidden;
  color: rgb(255, 255, 255);

  /* This is for background image */
  /* background: url("https://images.unsplash.com/photo-1745755485099-8b539024c938?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat; */
}

::selection{
  color: rgba(156, 159, 155, 0.4);
}